@model IEnumerable<WebApp1.JobService.JobTypes>

@{
    ViewBag.Title = "Job List";
}

<h2>List Job</h2>



<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Id
        </td>

        <td>
            @item.Name
        </td>

        <td>
            @item.Role
        </td>

        <td>
          
        </td>
    </tr>
}

</table>
